@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "@fontsource/poppins";

body {
  font-family: "Poppins";

  .wrapper {
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    width: 100%;
    padding-left: 10px;
    gap: 10px;
    text-align: center;
    justify-items: center;
  }
}
